<main class='page'>
    {{{NavBar}}}
    <section class='auth-section'>
        <h1 class='auth-section__title heading'>{{title}}</h1>
        <form class='auth-section__form form'>
            {{{Inputs}}}
			{{{Button}}}
			{{{Link}}}
        </form>
    </section>
</main>
