<main class='page'>
    <section class='profile-section'>
        {{{Avatar}}}
        {{{AvatarModal}}}
		<div class='profile-section__layout'>
			{{{Inputs}}}
		</div>
		<div class='profile-section__layout'>
			{{{Links}}}
		</div>
		{{{Button}}}
    </section>
</main>
