<main class='page'>
    <section class='profile-section'>
        {{{Avatar}}}
        {{{Tools}}}
		<form class='profile-section__layout'>
			{{{Inputs}}}
		</form>
		<div class='profile-section__layout'>
			{{{Links}}}
		</div>
		{{{Button}}}
    </section>
</main>
