<div class="modal {{className}}">
	<form class="modal__body">
		<p class="modal__title">{{title}}</p>
		{{{ Input }}}
		<div class="modal__buttons">
			{{{ ButtonSubmit }}}
			{{{ ButtonClose }}}
		</div>
	</form>
</div>
