<main class='page messenger'>
	<section class='messenger-menu'>
		{{{ProfileLink}}}
		<nav class='messenger-nav'>
			{{{ChatCards}}}
		</nav>
	</section>
	<section class='messenger-section'>
		<header class='messenger-section_header'>
			{{{Avatar}}}
			<h2 class="messenger-section_title">{{title}}</h2>
		</header>
		<section  class='messenger-section_main'>
			{{{Messages}}}
		</section>
		<footer  class='messenger-section_footer'>
			{{{Input}}}
			{{{IconSubmit}}}
		</footer>
	</section>
</main>

